@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(https://assets.albiononline.com/uploads/media/default/media/12390e313d27669a54de2845b782722c832c7ed0.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
